@using Microsoft.AspNet.Identity
@using SignalRDemo4_6_1.BusinessLogic

@{
    ViewBag.Title = "Index";
}

@using SignalRDemo4_6_1.BusinessLogic
@model List<SignalRDemo4_6_1.Models.ImageModel>
@{
    ViewData["Title"] = "Image Gallery";
}

<h2>Image Gallery</h2>
@for (var i = 0; i < Model.Count; i += 3)
{
    <div class="row gallerypadding">
        @for (int j = i; j <= Math.Min(2 + i, Model.Count - 1); j++)
        {
            <div class="col-md-3">
                <div><img src='@BusinessMethods.WriteImage(Model[j].ImageName)' /></div>
                <input type="hidden" class="imageId" value="@Model[j].ImageId"/>
                <div class="divLikes">
                    <input type="hidden" class="userLikes" value="@UIMethods.UserLikes(User.Identity.GetUserId(), Model[j].ImageId).ToString()"/>
                    <input type="hidden" class="imageId" value="@Model[j].ImageId"/>
                    @{
                        var anchorvisible = UIMethods.UserLikes(User.Identity.GetUserId(), Model[j].ImageId) ? "notvisible" : "visible";
                        var spanvisible = UIMethods.UserLikes(User.Identity.GetUserId(), Model[j].ImageId) ? "visible" : "notvisible";
                    }
                    <a href="#" class="like @anchorvisible" id="a_@Model[j].ImageId"><img src="~/Images/fb_thumb.png"/></a><span id="sp_@Model[j].ImageId" class="liked @spanvisible">Liked</span>
                    <span id="tLikes_@Model[j].ImageId">@String.Format("{0} Likes", UIMethods.TotalLikes(Model[j].ImageId))</span>
                </div>
            </div>
        }
    </div>
}
<input type="hidden" id="userId" value="@User.Identity.GetUserId()"/>
<div id="result"></div>


@section scripts{

    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/likes.js"></script>
}